/* Define o estilo geral da página */
body {
  /* Define a fonte utilizada no texto */
  font-family: Arial, sans-serif;
  /* Define o tamanho da fonte */
  font-size: 16px;
  /* Define a altura da linha */
  line-height: 1.5;
  /* Define a cor do texto */
  color: #333;
  /* Define a cor de fundo da página */
  background-color: #f5f5f5;
}

/* Define o estilo do título */
h2 {
  /* Define o tamanho da fonte */
  font-size: 32px;
  /* Define o peso da fonte */
  font-weight: bold;
  /* Define a cor do texto */
  color: blue;
  /* Define a margem superior do título */
  margin-top: 20px;
  /* Define a margem inferior do título */
  margin-bottom: 10px;
}

/* Define o estilo do parágrafo */
p {
  /* Define o tamanho da fonte */
  font-size: 18px;
  /* Define o peso da fonte */
  font-weight: normal;
  /* Define a cor do texto */
  color: red;
  /* Define a margem superior do parágrafo */
  margin-top: 10px;
  /* Define a margem inferior do parágrafo */
  margin-bottom: 10px;
}

/* Define o estilo da citação */
i {
  /* Define o estilo da fonte como itálico */
  font-style: italic;
  /* Define a cor do texto */
  color: green;
}

/* Define o estilo do bloco de citação */
blockquote {
  /* Define o estilo da fonte como itálico */
  font-style: italic;
  /* Define o tamanho da fonte */
  font-size: 24px;
  /* Define a cor do texto */
  color: purple;
  /* Define a margem superior do bloco de citação */
  margin-top: 10px;
  /* Define a margem inferior do bloco de citação */
  margin-bottom: 10px;
  /* Define o espaçamento interno do bloco de citação */
  padding: 10px;
  /* Define a largura da borda esquerda do bloco de citação */
  border-left: 5px solid orange;
  /* Define a cor de fundo do bloco de citação */
  background-color: #fff;
}

/* Define o estilo do link */
a {
  /* Define a cor do texto dos links */
  color: brown;
  /* Define que os links não terão sublinhado */
  text-decoration: none;
}

/* Define o estilo da imagem */
img {
  /* Define a largura máxima da imagem */
  max-width: 100%;
  /* Define a altura da imagem para se ajustar proporcionalmente à largura */
  height: auto;
  /* Define a cor da borda da imagem */
  border: 2px solid yellow;
  /* Define a margem da imagem para que ela fique centralizada horizontalmente */
  margin: 10px auto;
  /* Define que a imagem será exibida como bloco para que a margem funcione */
  display: block;
}

/* Define o estilo do controle de vídeo */
video::-webkit-media-controls-start-playback-button {
  /* Define a cor do botão de play do controle de vídeo no Chrome */
  color: pink;
}

audio {
  display: block; /* Torna o elemento como bloco */
  margin: 0 auto; /* Centraliza o elemento */
  width: 100%; /* Define a largura como 100% */
}